li {
  list-style: none;
}
a,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
button,
button:active,
button:focus {
  border: none;
  background: transparent;
  // user requirement
}
input {
  outline: none;
  border: none;
}
